.standard-post {
    --primary-border-color: rgb(76, 139, 192);
    --primary-background-color: rgb(102, 155, 201);
    --primary-color: #337ab7:

    --info-border-color: #bce8f1;
    --info-color: #31708f;

    --success-color: #3c763d;
    --success-boder-color: #d6e9c6;

    --warning-color: #8a6d3b;
    --warning-border-color: #faebcc;

    --danger-color: #a94442;
    --danger-border-color: #ebccd1;
}

.standard-post hr {
    margin: 10px;
}

/* Primary */
.standard-post .panel-primary .panel-heading {
    border-color: var(--primary-border-color);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}
.standard-post .panel-primary small {
    color: var(--primary-color);
}
.standard-post .panel-primary hr {
    border-color: var(--primary-border-color);
}

/* Info */
.standard-post .panel-info small {
    color: var(--info-color);
}
.standard-post .panel-info hr {
    border-color: var(--info-border-color);
}

/* Success */
.standard-post .panel-success small {
    color: var(--success-color);
}
.standard-post .panel-success hr {
    border-color: var(--success-boder-color);
}

/* Warning */
.standard-post .panel-warning small {
    color: var(--warning-color);
}
.standard-post .panel-warning hr {
    border-color: var(--warning-border-color);
}

/* Danger */
.standard-post .panel-danger small {
    color: var(--danger-color);
}
.standard-post .panel-danger hr {
    border-color: var(--danger-border-color);
}