.reddit-page .panel-heading {
    overflow: overlay;
}

.reddit-page .thumbnail {
    margin-bottom: 0px;
    border: 0px;
    background: none;
}

.reddit-page .thumbnail img {
    max-height: 81px;
}