<div>
    <script type="text/template" id="video-template">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="https://www.youtube.com/watch?v=<%- video.code %>" target="_blank"><h5><small><%- video.owner %> - <%- video.title %> <i class="fa fa-external-link" aria-hidden="true"></i></small></h5></a>
                <div class="embed-responsive <%- video.template.parameters.class %>">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%- video.code %>"></iframe>
                </div>
            </div>
        </div>
    </script>
</div>