<div>
    <script type="text/template" id="image-template">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <a href="https://imgur.com/<%- image.code %>" target="_blank"><h5><small><%- image.owner %> - <%- image.title %> <i class="fa fa-external-link" aria-hidden="true"></i></small></h5></a>
                <a class="thumbnail" href="https://imgur.com/<%- image.code %>" target="_blank">
                    <img src="https://i.imgur.com/<%- image.code %>.jpg">
                </a>
            </div>
        </div>
    </script>
</div>